body{
  background-image: url('technology-background-with-digital-number-timer-concept-countdown_115579-957.jpg');
  background-repeat:no-repeat ;
  background-size: cover;
}
.stopwatch {
  height: 213px;
  text-align: center;
  margin-top: 120px;
  position: relative;
  top: 150px;
  border: solid;
  width: 354px;
  margin-left: 890px;
  border-radius: 56px;
  background: #001d3f;
  color: #1ea0f3;
}
  
  .display {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10%;
    background-color: #3899e9;
    color: #f8ffff;
    border: none;
}
  button:hover{
    background-color: rgb(93, 87, 185);
    color: rgb(71, 160, 163);

  }
  